@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$black:#000000;
$medium-gray:#434343;
$light-gray:#707070;
$lighter-gray:#A2A2A2;
$lightest-gray:#E6E6E6;
$white:#FFFFFF;

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.btn{
    cursor: pointer;
    border-radius: 0;
    background-color: $black;
    color: $white;
    border: 0;
}

.grid-main {
    display: grid;
    grid-template-columns: 1.3fr 0.1fr 1.3fr 1.4fr;
    column-gap: 0.725rem;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid $light-gray;
    padding: 10px 2%;

    .logo-text{
        font-size: 40px;
        margin: 0;
    }

    div {
        display: flex;
        align-items: center;
        .icon{
            justify-content: space-around;
            &:not(:last-child){
                padding-right:  20px;
            }
        }
    }
}

.breadcrumb{
    font-size: 0.75rem;
    &, & a{
        color: $lighter-gray;
    }
}

.bottom-bar{
    border-bottom: 1px solid $lightest-gray;
    padding: 4% 0;
}

.hidden{
    display: none;
}

.link{
    font-weight: bold;
    text-decoration: none;
    color: $black;
}

.dress-info{
    width: 100%;
    max-width: 85%;
    .main-title{
        margin-top: 10%;
    }
    .price{
        font-size: 1.5rem;
        font-weight: bold;
    }
    .calc-shipment-container{
        width: 60%;
        display: flex;
        input {
            flex-grow: 1;
        }
        .calc-shipment-number {
            width: 65%;
            padding: 1% 5%;
        }
        .calc-shipment-btn{
            width: 30%;
            padding: 1% 5%;
            text-align: center;
        }
        
    }
    .link-container{
        a {
            margin: 7% 0;
            display: block;
        }
    }    
}

.size-and-color{
    width:100%;
    padding-left: 10%;
    max-width: 95%;
    .color-text{
        margin-top: 10%;
        margin-bottom: 0;
    }
    .switch{
        display: flex;
        flex-direction: row;
        a {
            padding: 3px;
            margin-right: 20px;
            div {
                width: 25px;
                height: 25px;
            }
            .black{
                background-color: $black;
            }
            .yellow{
                background-color:  #9D7800;
            }
            .red{
                background-color: #A10000;
            }
            &:target{
                border: 2px solid $black;
            }
        } 
    }
    .size-container{
        display: flex;
        max-width: 50%;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: $black;
            padding: 0.1rem 0.75rem;
            &:target{
                border: 2px solid $black;
                font-weight: bold;
            }
        }
    }
}
.add-to-cart-container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: end;
    .add-to-cart-btn{
        
        height: 20%;
        width: 60%;
        font-weight: bold;
    }
}

.share-and-fav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    figure{
        width: 100%;
        margin: 2rem 0;
        flex-grow: 1;
        .icon{
            max-height: 20px;
        }
    }
    .fav{
        display: flex;
        width: auto;
        .icon{
            margin-right: 1rem;
        }
    }
    .share{
        display: flex;
        width: auto;
        justify-content: space-evenly;
    }
    
}

.small-img-container{
    .small-img{
        width: 100%;
        padding-top: 2px;
        padding-bottom: 9px;
    }
}

.large-img-container{  
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
    height: 50vh;
    min-height: 45vw;
    min-width: 25VW;
    .large-img{
        width: 100%;
    }
}

main{
    padding: 0 25px;
}

.secondary-title{
    padding-left: 1rem;
}

.product-cards-container{
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin: 0 auto;
    padding: 1rem;
    figure{
        margin: 0 auto;
        padding: 0 0.25rem;
        img{
            height: 50vw;
            max-height: 700px;
            width: auto;
            margin-bottom: 10px;
        }
        figcaption{
            margin: 10px 0;
            font-weight: bold;
        }
    }
   
}

footer{
    padding: 0;
    .container{
        display: flex;
        justify-content: center;
        div{
            padding: 2% 5%;
        }
    }

    form{
        display: flex;
        input {
            flex-grow: 1;
        }
        .footer-email{
            padding: 0.25rem 1.5rem;
        }
    }
    

    .footer-icon{
        padding-top: 13%;
        padding-right: 10%;
    }
    
    .copyright{
        color: $medium-gray;
        font-size: 0.725rem;
        text-align: center;
    }
}